{%- if site.cloudflare_analytics_token and site.cloudflare_analytics_token != "" -%}
<!-- Cloudflare Web Analytics -->
<script defer src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "{{ site.cloudflare_analytics_token }}"}'></script>
<!-- End Cloudflare Web Analytics -->
{%- endif -%}
<!-- Favicons -->
<link rel="icon" href="{{ site.baseurl }}/favicon.png?v={{ site.time | date: '%s' }}">
<link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon.png?v={{ site.time | date: '%s' }}">
<meta name="theme-color" content="#111111">
